<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ninject" version="3.3.3" targetFramework="net461" />
  <package id="NUnit" version="3.9.0" targetFramework="net461" />
  <package id="NUnit3TestAdapter" version="3.9.0" targetFramework="net461" />
  <package id="NUnitTestAdapter" version="2.1.1" targetFramework="net461" />
  <package id="SandS.Algorithm.Common" version="2.0.1.02" targetFramework="net461" />
  <package id="SandS.Algorithm.Extensions.StringBuilderExtension" version="2.0.1.01" targetFramework="net461" />
  <package id="SandS.Algorithm.Library.Generator" version="2.0.2" targetFramework="net461" />
</packages>